---
import Input from "../Input.astro";
---
<div class="form-step hide">
  <div class="content">
    <Input id="business-name" label="Endereço" placeholder="Qual é o seu endereço" type="text" />
    <Input id="business-colab-numbers" label="Código Postal" placeholder="Digite seu código postal" type="text" />
    <Input id="business-name" label="Localidade" placeholder="Qual é a seu localidade" type="text" />
  </div>

  <div class="button-wrapper">
    <button class="btn secondary" data-prev type="button">VOLTAR</button>
    <button class="btn primary" data-next type="button">CONTINUAR</button>
  </div>
</div>